.container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #eee;
}
.container .vertical-content {
	position: absolute;
	height: 500px;
	width: 400px;
	margin: auto auto;
	background: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}