p {
	position: relative;
}
p span {
	position: absolute;
	left: auto;
	right: 0;
	bottom: 0;
	height: 2rem;
	width: 2rem;
	top: auto;
}

.outer {
	width: 500px;
}
.outer .inner {
	margin: 20px;
	width: 100%;
}

.top-auto {
	position: relative;
	height: 1000px;
	width: 200px;
}
.top-auto .item1 {
	position: absolute;
	top: auto;
	bottom: 0;
}